<table class="table table-striped">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Branch</th>
            <th>Year</th>
            <th>College</th>
            <th>CGPA</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{student.studentId}}</td>
            <td>{{student.studentName}}</td>
            <td>{{student.studentBranch}}</td>
            <td>{{student.studentYear}}</td>
            <td>{{student.studentCollege}}</td>
            <td>{{student.studentCgpa}}</td>
            <td>
                <button (click)="updateStudent(student.studentId)" class="btn btn-success" style="margin-right: 10px;">Update</button>
                <button (click)="deleteStudent(student.studentId)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        
    </tbody>
</table>