<div class="col-md-8 offset-md-3">
    <h3>Create Student</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Student RegNo</label>
            <input type="text" class="form-control" placeholder="Enter Student RegNo" id="studentId" name="studentId" [(ngModel)]="student.studentId" required>
        </div>
        <div class="form-group">
            <label>Student Name</label>
            <input type="text" class="form-control" placeholder="Enter Student Name" id="studentName" name="studentName" [(ngModel)]="student.studentName" required>
        </div>
        <div class="form-group">
            <label>Student Branch</label>
            <input type="text" class="form-control" placeholder="Enter Student Branch" id="studentBranch" name="studentBranch" [(ngModel)]="student.studentBranch" required>
        </div>
        <div class="form-group">
            <label>Student Year</label>
            <input type="number" class="form-control" placeholder="Enter Student Year" id="studentYear" name="studentYear" [(ngModel)]="student.studentYear" required>
        </div>
        <div class="form-group">
            <label>Student College</label>
            <input type="text" class="form-control" placeholder="Enter Student College" id="studentCollege" name="studentCollege" [(ngModel)]="student.studentCollege" required>
        </div>
        <div class="form-group">
            <label>Student CGPA</label>
            <input type="number" class="form-control" placeholder="Enter Student CGPA" id="studentCgpa" name="studentCgpa" [(ngModel)]="student.studentCgpa" required>
        </div>
        <div class="mt-2">
            <button type="submit" class="btn btn-primary">Save Student</button>
        </div>
    </form>
</div>